<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/form.css" rel="stylesheet" type="text/css" />
    <title>동국죠스 데모 페이지</title>
</head>
<body>
    <!-- -->
    <div class="container">
        <form method="post" action="/result" id="login-form" class="login-form" autocomplete="off" role="main">
            <div>
                <h2 style="text-align: center;">지니 뮤직 - genie</h2>
                <div style="display: flex; justify-content: center; align-items: center">
                    <img src="https://play-lh.googleusercontent.com/gSjYDowrYi_BIdXKIsxhc4Y3Zj5zGA3os_SCm8cqWWCrXQYejcmser-UOEM-PnCGRgk=w480-h960-rw" style="width:100px; height:100px" />
                </div>
            </div>
            <div>
              <label class="label-email">
                <textarea class="text" name="review" cols="20" rows="10" placeholder="리뷰 내용" required></textarea>
              </label>
            </div>
            <input type="submit" value="리뷰 제출" />
          </form>
    </div>
        
</body>
</html>