<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="/static/resultPage.css" rel="stylesheet" type="text/css" />
    <title>동국 죠스 데모 페이지</title>
</head>
<body>
    <div>
        <h1>Results</h1>
        <div>
            <h3>데이터 수집 결과</h3>
            <textarea placeholder="데이터 수집 결과"></textarea>
        </div>

        <div>
            <h3>문장 단위 분리 결과</h3>
            <table>
                <tr>
                    <td>문장 1</td>
                    <td>문장 1 텍스트</td>
                </tr>
                <tr>
                    <td>문장 2</td>
                    <td>문장 2 텍스트</td>
                </tr>
                <tr>
                    <td>문장 3</td>
                    <td>문장 3 텍스트</td>
                </tr>
            </table>
        </div>

        <div>
            <h3>텍스트 전처리 결과</h3>
            <table>
                <tr>
                    <td>문장 1</td>
                    <td>문장 1 텍스트</td>
                </tr>
                <tr>
                    <td>문장 2</td>
                    <td>문장 2 텍스트</td>
                </tr>
                <tr>
                    <td>문장 3</td>
                    <td>문장 3 텍스트</td>
                </tr>
            </table>
        </div>

        <div>
            <h3>긍/부정 판별 결과</h3>
            <table>
                <tr>
                    <td>문장 1</td>
                    <td>문장 1 긍/부정</td>
                </tr>
                <tr>
                    <td>문장 2</td>
                    <td>문장 2 긍/부정</td>
                </tr>
                <tr>
                    <td>문장 3</td>
                    <td>문장 3 긍/부정</td>
                </tr>
            </table>
        </div>

        <div>
            <h3>클래스 분류 결과</h3>
            <table>
                <tr>
                    <td>문장 1</td>
                    <td>문장 1 클래스 분류 결과</td>
                </tr>
                <tr>
                    <td>문장 2</td>
                    <td>문장 2 클래스 분류 결과</td>
                </tr>
                <tr>
                    <td>문장 3</td>
                    <td>문장 3 클래스 분류 결과</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>